# .gitignore

# Python
__pycache__/
*.pyc

# All venvs
.venv

# Directories for user usage within container
data/
repos/

# Configuration file to switch build types
dev.conf

# Coverage
.coverage
htmlcov
